:root {
	--burgerAnimationDuration: 0.5s;
	--topMenuHeight: 30px;
	--mainMenuHeight: 70px;
	--menuHeight: calc(var(--topMenuHeight) + var(--mainMenuHeight));
	--mainMenuSizeBurger: 33.33%;

	@include media-breakpoint-down(sm) {
		--mainMenuSizeBurger: 50%;
	}
	
	@include media-breakpoint-down(xs) {
		--topMenuHeight: 0px;
		--mainMenuSizeBurger: 100%;
	}
}

.menu-wrapper {
	position: relative;
	z-index: $menuzindex;
	background-color: $color-background-primary;

	@extend %traditionalMenu;
	// @extend %burgerMenu;
}
