// Form Mixins
@mixin reset-input-number {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}
}

@mixin form-group {
	margin-bottom: $form-group-spacing;
}

@mixin form-label {
	display: block;
	margin-bottom: $form-label-spacing;
	font-family: $form-label-font-family;
	font-weight: $form-label-font-weight;
	font-size: $form-label-font-size;
	color: $form-label-color;

	span {
		font-weight: inherit;
		color: inherit;
		font-size: inherit;
	}
}

@mixin form-control {
	display: block;
	width: 100%;
	margin: 0;
	padding: $form-control-padding;
	border: $form-control-border-width solid rgba($form-control-border-color, 40%);
	border-radius: $form-control-border-radius;
	color: $form-control-color;
	background-color: $form-control-bgcolor;
	transition: background-color 0.3s ease, border-color 0.3s ease;

	&:hover {
		border-color: rgba($form-control-border-color, 70%);
	}

	&:focus {
		border-color: $form-control-border-color;
		background-color: $form-control-bgcolor-focus;
	}
	
	&.visible {
		border-color: $form-control-border-color;
	} 
}

@mixin form-control-error {
	border-color: $form-control-border-color-error;
}

@mixin form-select {
	position: relative;

	.form-control {
		padding-right: $form-select-padding-right;
		-webkit-appearance: none;
		-moz-appearance: none;

		&::-ms-expand {
			display: none;
		}
	}

	&::after {
		// @include fontello(); uncomment to used a fontello icon.
		content: '▽';
		position: absolute;
		top: 53%;
		right: 20px;
		transform: translate(0, -50%);
		pointer-events: none;
	}
}

@mixin form-checkbox-radio-control {
	@include sr-only;
}

@mixin form-checkbox-radio-wrapper {
	@include make-col-ready;
	margin-bottom: $form-checkbox-radio-group-spacing;
}

@mixin form-checkbox-radio-label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding-left: calc(#{$form-checkbox-size} + 12px);
	line-height: $form-checkbox-size;
	font-size: $form-checkbox-font-size;

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		width: $form-checkbox-size;
		height: $form-checkbox-size;
		border: $form-control-border-width solid rgba($form-checkbox-border-color, 40%);
		background-color: $form-checkbox-bgcolor;
		transform: translate(0, -50%);

		transition: background-color 0.3s ease, border-color 0.3s ease;
	}

	&::after {
		content: "";
		position: absolute;
		top: calc(#{$form-checkbox-size} / 2);
		left: calc(#{$form-checkbox-size} / 2);
		width: $form-checkbox-size;
		text-align: center;
		font-family: monospace;
		line-height: 1;
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: opacity $form-checkbox-transition-duration ease;
	}

	.reverse & {
		padding-left: 0;
		padding-right: calc(#{$form-checkbox-size} + 12px);

		&::before {
			left: auto;
			right: 0;
		}

		&::after {
			top: 50%;
			left: auto;
			right: calc(#{$form-checkbox-size} / 2);

			transform: translate(50%, -50%);
		}
	}

	&:hover {
		cursor: pointer;
		
		&::before {
			border-color: rgba($form-control-border-color, 70%);
		}
	}
	
	&:focus {
		cursor: pointer;
		
		&::before {
			border-color: $form-control-border-color;
			background-color: $form-control-bgcolor-focus;
		}
	}

	&.visible {
		cursor: pointer;

		&::before {
			border-color: $form-control-border-color;
		}
	}
}

@mixin form-checkbox-label {
	&::before {
		transition: border-color $form-checkbox-transition-duration ease, background-color $form-checkbox-transition-duration ease;
	}

	&::after {
		content: "×";
		color: $form-checkbox-color;
	}
}

@mixin form-checkbox-label-checked {
	&::before {
		background-color: $form-checkbox-bgcolor-checked;
		border-color: $form-checkbox-border-color-checked;
	}

	&::after {
		opacity: 1;
	}
}

@mixin form-radio-label {
	&::before {
		border-radius: 50%;
	}

	&::after {
		width: calc(#{$form-checkbox-size} * 0.6);
		height: calc(#{$form-checkbox-size} * 0.6);
		border-radius: 50%;
		background-color: $form-checkbox-bgcolor-checked;
	}
}

@mixin form-radio-label-checked {
	&::after {
		opacity: 1;
	}
}

@mixin form-input-file {
	display: none;
}

@mixin form-input-file-label {
	@extend %base_button;
	cursor: pointer;
	text-align: center;

	padding: $form-control-padding;
	border: $form-control-border-width solid rgba($form-control-border-color, 40%);
	border-radius: $form-control-border-radius;
	
	transition: background-color 0.3s ease, border-color 0.3s ease;
	
	&:hover {
		border-color: rgba($form-control-border-color, 70%);
	}
	
	&:focus {
		border-color: $form-control-border-color;
		background-color: $form-control-bgcolor-focus;
	}

	&.visible {
		border-color: $form-control-border-color;
	}
}

@mixin form-global-error {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: $form-error-color;
	font-size: $form-error-font-size;
	border: $form-control-border-width solid $form-error-border-color;
}

@mixin form-error {
	display: block;
	margin-top: 7px;
	text-align: right;
	color: $form-error-color;
	font-size: $form-error-font-size;
}

@mixin form-footer {
	margin-top: $form-footer-spacing;
}

@mixin form-animated-label {
	position: relative;

	.form-label {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $form-control-padding;
		margin-bottom: 0;
		pointer-events: none;

		&::after {
			content: attr(data-placeholder);
			position: absolute;
			top: 6px;
			left: $form-control-padding-x;
			z-index: 2;

			font-size: $form-label-animated-font-size;
			font-weight: $form-label-animated-weight;
			line-height: 8px;

			transition: opacity 0.2s $easeInOutCubic, transform 0.2s $easeInOutCubic, color 0.2s;

			opacity: 0;
			transform: translate(0, 4px);
		}

		&.visible {
			&::after {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
}

@mixin form-animated-control {
	.form-control {
		margin-bottom: 0;
		
		&.empty {
			color: $form-placeholder-color;
		}
	} 

	.form-label.visible {
		span {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}
}

@mixin form-animated-select-label {
	&.select-group {
		.form-label span {
			opacity: 0;
		}
	}
}

// Basic Form Styles
.form-fields {
	display: grid;
	column-gap: var(--form-fields-spacing-x, #{$grid-gutter-width});
	row-gap: var(--form-fields-spacing-y, #{$form-group-spacing});
	grid-template-columns: var(--grid-template-columns);
}

.form-group {
	@include form-group;
}

.form-label {
	@include form-label;
}

.form-control {
	@include form-control;
}

.form-footer {
	@include form-footer;
}

// Input Checkbox/Radio Styles
.form-checkbox-group,
.form-radio-group {
	margin-bottom: calc(#{$form-group-spacing} - #{$form-checkbox-radio-group-spacing});
}

.form-checkbox-wrapper,
.form-radio-wrapper {
	@include form-checkbox-radio-wrapper;

	&.inline {
		width: auto;
	}
}

.form-checkbox-label,
.form-radio-label {
	@include form-checkbox-radio-label;
}

.form-checkbox-control,
.form-radio-control {
	@include form-checkbox-radio-control;
}

.form-checkbox-label {
	@include form-checkbox-label;
}

.form-checkbox-control {
	&:checked {
		+ .form-checkbox-label {
			@include form-checkbox-label-checked;
		}
	}
}

.form-radio-label {
	@include form-radio-label;
}

.form-radio-control {
	&:checked {
		+ .form-radio-label {
			@include form-radio-label-checked;
		}
	}
}

// select styles
.form-input-file {
	@include form-input-file;
}

.form-input-file-label {
	@include form-input-file-label;
}

// select styles
.select-checkbox-group {
	@include form-control;
	position: relative;
	padding: 0;
	
	&::after {
		// @include fontello(); uncomment to used a fontello icon.
		content: '▼';
		position: absolute;
		top: 53%;
		right: 20px;
		transform: translate(0, -50%);
		pointer-events: none;
	}

	.select-checkbox-label {
		margin-bottom: 0;
		color: $form-placeholder-color;
		padding: $form-control-padding;
		user-select: none;

		.number {
			font-size: 14px;
		}

		&.visible {
			color: $form-control-color;
		}
	}

	.select-checkbox-options {
		display: none;
		position: absolute;
		top: 100%;
		left: calc(#{$form-control-border-width} * -1);
		width: calc(100% + (#{$form-control-border-width} * 2));
		padding: $form-control-padding;
		max-height: 250px;
		overflow-y: scroll;

		background-color: $form-control-bgcolor;
		border: $form-control-border-width solid $form-control-border-color;
		border-radius: $form-control-border-radius;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		user-select: none;

		.form-checkbox-group {
			margin: 0 0 10px;
		}

		.form-checkbox-label {
			width: 100%;
		}

		&.open {
			display: block;
			z-index: 3;
		}
	}
}

.form-select {
	@include form-select;
}

// animated input
.animated-form-group {
	@include form-animated-label;
	@include form-animated-select-label;
	@include form-animated-control;
}

select option {
	color: $black; // used to prevent option to be white on white on windows
}