.smooth-scroll {
	[data-scroll-section] {
		will-change: transform;

		// Hide section not visible in the viewport
		&:not(.section-visible) {
			opacity: 0;
			pointer-events: none;
		}
	}
}

body {
	.has-js.smooth-scroll & {
		//Hide the browser scrollbar for the smoothscrolling plugin
		overflow: hidden;
		
		[data-main] {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

			display: block;
			min-height: 100vh;
			min-height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
		
			@media print {
				position: static;
				height: auto;
			}
		}
	}
}